@use "../utilities/variables";
@use "../utilities/mixin";

// Header //
.nav-bar {
  @include mixin.flex(row, space-between, center);
  padding: 10px 20px;
  // background-color: black;
  // background: repeating-linear-gradient(
  //   to bottom,
  //   #000000 0 5px,
  //   #000000 5px 10px
  // );
  color: variables.$text-color-primary;

  a {
    text-decoration: none;
    color: variables.$text-color-primary;
    font-weight: 500;
    transition: color 0.3s;

    &:hover {
      color: rgb(231, 117, 25);
    }
  }
  .logo {
    img {
      margin: 10px;
      height: 150px;
      border-radius: 50%;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
}

// Responsive movil //
@media screen and (max-width: 480px) {
  .nav-bar {
    @include mixin.flex(column, center, center);
    padding: 10px;
    .nav-links {
      flex-direction: column;
      gap: 10px;
    }
  }
}

// Responsive tablet y escritorio //
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .nav-bar {
    @include mixin.flex(column, space-between, center);
    padding: 10px 15px;

    .nav-links {
      gap: 15px;
    }
  }
}

// Responsive pantallas grandes //
@media screen and (min-width: 1025px) {
  .nav-bar {
    @include mixin.flex(row, space-between, center);
    padding: 10px 20px;

    .nav-links {
      gap: 20px;
    }
  }
}
