@use "../utilities/variables";
@use "../utilities/mixin";
@use "../utilities/extend";

// hero fotos , h1 , p //
.hero {
  @extend %hero;
  img {
    @extend %hero-img;
  }
  .hero-texto {
    @extend %hero-texto;

    h1 {
      font-size: 48px;
      font-weight: 600;
    }

    p {
      font-size: 15px;
      font-weight: 300;
    }
  }
}

// // responsive moviles
@media screen and (max-width: 480px) {
  .hero {
    height: 50vh;
    .hero-texto {
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 10px;
      }
    }
  }
}

// responsive tablets y escritorio //
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .hero {
    height: 65vh;
    .hero-texto {
      h1 {
        font-size: 34px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}

// // responsive pantallas grandes //
@media screen and (min-width: 1025px) {
  .hero {
    height: 80vh;
    .hero-texto {
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
