@use "../utilities/variables";
@use "../utilities/mixin";
@use "../utilities/extend";
// marcas //
.marcas {
  @include mixin.flex(row, center, center);
  margin: 20px auto;
  width: 32%;
  max-width: 1200px;
  gap: 10px;
}

.seguros {
  @include mixin.flex(row, center, center);
  margin: 20px auto;
  width: 50%;
  max-width: 1200px;

  img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

/*main */
.container-principal {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: variables.$text-color-primary;
  }

  p {
    font-size: 1.2rem;
    color: variables.$text-color-primary;
  }
}
.swiper {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 80%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 12px;
    }
  }
}

//  responsive moviles //
@media screen and (max-width: 480px) {
  .marcas {
    @include mixin.flex(row, center, center);
    margin: 20px auto;
    width: 31%;
  }

  .container-principal {
    p {
      font-size: 0.8rem;
    }

    .swiper {
      width: 100%;
      height: 230px;

      .swiper-slide img {
        object-fit: cover;
      }
    }
  }
}

// responsive tablets y escritorio //
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .marcas {
    @include mixin.flex(row, center, center);
    margin: 20px auto;
    width: 30%;
  }

  .container-principal {
    margin: 20px;
    padding: 0 10px;
    p {
      font-size: 0.9rem;
    }
  }
  .swiper {
    width: 80%;
    height: 300px;

    .swiper-slide img {
      object-fit: cover;
    }
  }
}
