@use "../utilities/variables";
@use "../utilities/mixin";
@use "../utilities/extend";
// marcas //
.marcas {
  @include mixin.flex(row, center, center);
  margin: 20px auto;
  width: 32%;
  max-width: 1200px;
  gap: 10px;
}
// prueba de animacion //
// @include mixin.marcas-grid(16rem, 20px, 1200px);
// animation: animate 10s linear infinite;
// @keyframes animate {
//   to {
//     translate: calc(-5 * 16rem);
//   }
// }
.seguros {
  @include mixin.flex(row, center, center);
  margin: 20px auto;
  width: 50%;
  max-width: 1200px;

  img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

/*main */
.contenedor-galeria {
  @include mixin.grid(3, 1fr 20px);
  @extend %card;
  // background-color: variables.$background-color-primary;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}
.imagen-galeria {
  display: flex;
  flex-direction: column;
  background-color: rgb(13, 5, 43);
  border-radius: 8px;
  padding: 8px;
}
.imagen-galeria img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}
.imagen-galeria p {
  color: white;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
}
.video-trabajos {
  display: flex;
  flex-direction: column;
  background-color: rgb(13, 5, 43);
  border-radius: 8px;
  padding: 8px;
}
//  responsive moviles //
@media screen and (max-width: 480px) {
  // prueba de animacion //
  // .marcas {
  //   @include mixin.marcas-grid(10rem, 10px, 1000px);
  //   animation: animate 10s linear infinite;
  //   width: 100%;
  // }
  .container-main {
    .slider-container img {
      width: 240px;
    }
  }
}

// responsive tablets y escritorio //
@media screen and (min-width: 481px) and (max-width: 1024px) {
  // prueba de animacion //
  // .marcas {
  //   @include mixin.marcas-grid(12rem, 15px, 1000px);
  //   animation: animate 10s linear infinite;
  //   width: 100%;
  // }
  .container-main {
    .slider-container img {
      width: 280px;
    }
  }
}
