@use "../utilities/variables";
@use "../utilities/mixin";
@use "../utilities/extend";
// marcas //
.marcas {
  // @include mixin.marcas-grid(16rem, 20px, 1200px);
  // animation: animate 10s linear infinite;
  @include mixin.flex(row, center, center);
  margin: 20px auto;
  width: 32%;
  max-width: 1200px;
  gap: 10px;
}
// @keyframes animate {
//   to {
//     translate: calc(-5 * 16rem);
//   }
// }
.seguros {
  @include mixin.flex(row, center, center);
  margin: 20px auto;
  width: 50%;
  max-width: 1200px;

  img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

/*main */
.container-main {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: variables.$text-color-primary;
  }

  p {
    font-size: 1.2rem;
    color: #666;
  }

  /* slider foto de trabajos realizados */
  .slider {
    max-width: 100%;
    padding: 40px 20px;
    background-color: variables.$background-color-primary;
    text-align: center;

    .slider-container {
      display: flex;
      gap: 20px;
      overflow-x: auto;
      scroll-behavior: smooth;
      padding: 20px 0;

      img {
        width: 300px;
        height: auto;
        border-radius: 12px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

//  responsive moviles //
@media screen and (max-width: 480px) {
  // .marcas {
  //   @include mixin.marcas-grid(10rem, 10px, 1000px);
  //   animation: animate 10s linear infinite;
  //   width: 100%;
  // }
  .container-main {
    .slider-container img {
      width: 240px;
    }
  }
}

// responsive tablets y escritorio //
@media screen and (min-width: 481px) and (max-width: 1024px) {
  // .marcas {
  //   @include mixin.marcas-grid(12rem, 15px, 1000px);
  //   animation: animate 10s linear infinite;
  //   width: 100%;
  // }
  .container-main {
    .slider-container img {
      width: 280px;
    }
  }
}
