@use "../utilities/variables";
@use "../utilities/mixin";
@use "../utilities/extend";

.donde-encontrarnos {
  @extend %card;
  margin: 20px;

  h3 {
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 10px;
    p {
      color: aliceblue;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  }
}
.mapa-ubicacion {
  margin: 20px auto;
  iframe {
    width: 80%;
    height: 200px;
    border-radius: 12px;
  }
}
.boton-contacto {
  text-align: center;
  margin-top: 20px;

  .btn-contacto {
    @extend %card;

    &:hover {
      background-color: black;
    }
  }
}
// Responsive movil//
@media screen and (max-width: 480px) {
  .donde-encontrarnos {
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .mapa-ubicacion iframe {
    width: 100%;
    height: 150px;
  }
}
// Responsive tablet y escritorio//
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .donde-encontrarnos {
    h3 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
  .mapa-ubicacion iframe {
    width: 90%;
    height: 180px;
  }
}
// Responsive pantallas grandes //
@media screen and (min-width: 1025px) {
  .donde-encontrarnos {
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .mapa-ubicacion iframe {
    width: 80%;
    height: 250px;
  }
}
