@use "../utilities/variables";
@use "../utilities/mixin";
@use "../utilities/extend";

/* servicio */
.servicios-destacados {
  @include mixin.flex(column, center, center);
  margin-top: 40px;
  font-size: 1rem;
}

.servicios-lista {
  @include mixin.flex(column, center, center);
  gap: 40px;

  h3 {
    font-size: 1.8rem;
    color: variables.$text-color-primary;
    margin-bottom: 20px;
  }

  .servicio {
    @include mixin.flex(column, center, center);
    @extend %card;
    width: 100%;
    height: 100%;

    h3 {
      font-size: 1.5rem;
      color: #333;
    }

    p {
      font-size: 1rem;
      color: variables.$text-color-primary;
    }

    .fas.fa-car,
    .fas.fa-tools,
    .fas.fa-spray-can {
      font-size: 1.5rem;
      color: #007bff;
      margin-bottom: 10px;
    }
    ol {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        font-size: 1rem;
        color: #dccaca;
      }
    }
  }
}

// responsive moviles //
@media screen and (max-width: 480px) {
  .servicios-lista {
    @include mixin.flex(column, center, center);
    gap: 16px;
    h3 {
      font-size: 0.5rem;
    }

    .servicio {
      width: 100%;
      h4 {
        font-size: 1.2rem;
        color: variables.$text-color-primary;
      }
      p {
        font-size: 0.8rem;
        color: variables.$text-color-primary;
      }

      .fas.fa-car,
      .fas.fa-tools,
      .fas.fa-spray-can {
        font-size: 1.5rem;
      }
      ol li {
        font-size: 0.9rem;
      }
    }
  }
}
// responsive tablet y escritorio//
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .servicios-lista {
    @include mixin.flex(column, center, center);
    gap: 24px;

    .servicio {
      width: 80%;
      .fas.fa-car .fas.fa-tools,
      .fas.fa-spray-can {
        font-size: 1.8rem;
      }
      h3 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1.1rem;
        color: variables.$text-color-primary;
      }
      ol li {
        font-size: 1.1rem;
      }
    }
  }
}

// responsive pantallas grandes //
@media screen and (min-width: 1025px) {
  .servicios-lista {
    @include mixin.flex(row, center, center);
    gap: 40px;

    .servicio {
      width: 30%;
    }
  }
}
