@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}
@mixin marcas-grid($columns-width, $gap, $max-width) {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: $columns-width;
  gap: $gap;
  max-width: $max-width;
}
