// background-color
$background-color-primary: #000000;
$background-color-secondary: #161a4d; // o el color oscuro que prefieras

// text color
$text-color-primary: white;
$text-color-secondary: gray;
// hover color
$hover-color-primary: #474176;
$hover-color-secondary: #622b2b;
